@import "@fontsource/source-code-pro/400.css";
@import "@fontsource/source-code-pro/600.css";

:root {
  color-scheme: light dark;
  --mira-font-sans:
    Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  --mira-font-mono:
    "Source Code Pro", ui-monospace, SFMono-Regular, Consolas, monospace;
  --mira-font-size: 14px;
  --mira-line-height: 1.6;
  --mira-indent-size: 4;
  --mira-indent-unit: 0.5625em;
  --mira-list-indent: calc(var(--mira-indent-unit) * var(--mira-indent-size));
  --mira-heading-color: var(--mira-foreground);
  --mira-h1-color: var(--mira-heading-color);
  --mira-h2-color: var(--mira-heading-color);
  --mira-h3-color: var(--mira-heading-color);
  --mira-h4-color: var(--mira-heading-color);
  --mira-h5-color: var(--mira-heading-color);
  --mira-h6-color: var(--mira-heading-color);
  --mira-h1-font: var(--mira-font-sans);
  --mira-h2-font: var(--mira-font-sans);
  --mira-h3-font: var(--mira-font-sans);
  --mira-h4-font: var(--mira-font-sans);
  --mira-h5-font: var(--mira-font-sans);
  --mira-h6-font: var(--mira-font-sans);
  --mira-h1-line-height: 1.2;
  --mira-h2-line-height: 1.2;
  --mira-h3-line-height: 1.3;
  --mira-h4-line-height: 1.4;
  --mira-h5-line-height: 1.5;
  --mira-h6-line-height: 1.5;
  --mira-h1-size: 1.802em;
  --mira-h2-size: 1.602em;
  --mira-h3-size: 1.424em;
  --mira-h4-size: 1.266em;
  --mira-h5-size: 1.125em;
  --mira-h6-size: 1em;
  --mira-h1-style: normal;
  --mira-h2-style: normal;
  --mira-h3-style: normal;
  --mira-h4-style: normal;
  --mira-h5-style: normal;
  --mira-h6-style: normal;
  --mira-h1-variant: normal;
  --mira-h2-variant: normal;
  --mira-h3-variant: normal;
  --mira-h4-variant: normal;
  --mira-h5-variant: normal;
  --mira-h6-variant: normal;
  --mira-h1-weight: 700;
  --mira-h2-weight: 600;
  --mira-h3-weight: 600;
  --mira-h4-weight: 600;
  --mira-h5-weight: 600;
  --mira-h6-weight: 600;
  --mira-checkbox-radius: 4px;
  --mira-checkbox-size: var(--mira-font-size);
  --mira-checkbox-marker: var(--mira-accent-foreground);
  --mira-checkbox-color: var(--mira-accent);
  --mira-checkbox-border: var(--mira-border-strong);
  --mira-checkbox-border-hover: var(--mira-muted-foreground);
  --mira-editor-padding: 2rem;
  --mira-preview-padding: 2rem;
  --mira-radius: 6px;
}

:is(.dark, .theme-dark) {
  color-scheme: dark;
}

:is(.light, .theme-light) {
  color-scheme: light;
}

[data-mira-color-mode="system"] {
  color-scheme: light dark;
}

[data-mira-color-mode="dark"] {
  color-scheme: dark;
}

[data-mira-color-mode="light"] {
  color-scheme: light;
}
